:root {
  --background-colour: radial-gradient(#fff, #e5e5e5) !important;
  --primary-colour: #e92569;
  --primary-colour-hover: #f54b8d;
  --nav-colour: #efefef;
  --background-dark: rgba(0, 0, 0, 0.5);
  --black: #0a0a0a;
}
