$primary: #e92569;
$light: #efefef;
$black: #0a0a0a;
$white: #fff;
$gray: #767676;

$navbar-light-color: $black;
$navbar-light-brand-color: $primary;
$navbar-light-brand-hover-color: $primary;
$accordion-button-active-bg: $white;
$accordion-button-icon: url();
$accordion-button-active-icon: url();
$btn-font-size: 16px;
